@model TabEntradaCaixaVO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TabEntradaCaixaVO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoUsuarioCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoUsuarioCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoTipoEntradaCaixa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoTipoEntradaCaixa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoMembro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoMembro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoEventoReferencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoEventoReferencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
